.cards {
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 100%;
    height: 415px;
    object-fit: cover;
}

.card__title {
font-size: 36px;
color: #FF6060;

}

.card__location {
font-size: 18px;
}

.card__host {

}

.card__host_name {

}

.card__tags-list {
display: flex;
gap: 10px;
}

.card__tag {
display: flex;
border-radius: 10px;
background-color: #FF6060;
height: 25px;
padding: 0px 15px 0px 15px;
align-items: center;
justify-content: center;
min-width: 85px;
}

.card__rating {

}

.card__description  {

}



@media screen and (max-width: 940px) {}