.cards {
    display: flex;
    flex-direction: column;
}

.card__image {
    width: 100%;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.card__title {
font-size: 36px;
color: #FF6060;

}

.card__location {
font-size: 18px;
}

.appartment__info {
display: flex;
justify-content: space-between;}

.appartment__location {
display: flex;
flex-direction: column;
}

.host__picture {
width: 64px;
height: 64px;
border-radius: 50%;
object-fit: cover;
}

.card__host {
display: flex;
  position: relative;
  top: 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.card__host_name {
width: 80px;
  text-align: end;
  color: #FF6060;
}

.card__Tags_And_Rating {
display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.card__tags-list {
display: flex;
gap: 10px;
}

.rating {
display: flex; 
align-self: center;
gap: 10px;
}

.rating__star {
    scale: 1.5; 
    ;}

.card__tag {
display: flex;
border-radius: 10px;
background-color: #FF6060;
height: 25px;
padding: 0px 15px 0px 15px;
align-items: center;
justify-content: center;
min-width: 85px;
}

.card__info  {
    display: flex;
    justify-content: space-between;

}

.card__description {
    width: 50%;
}



@media screen and (max-width: 940px) {}