.container-1240 {
    margin: 0 auto;
    max-width: 1240px;
    padding: 50px 50px 0px 50px; 
}

@media screen and (max-width: 940px) {
        .container-1240 {
            padding: 50px 20px 0px 20px; 
        }
    }