.dropdown__arrow {
  display: flex;
  transition: transform 0.50s ease;
}

.dropdown__arrow.open {
  transform: rotate(180deg);
}

.dropdown {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
  position: relative;
  height: 100%;
  z-index: 10;
}


.dropdown__background {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 255, 0.15);
  border-radius: 10px;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.35s ease, opacity 0.35s ease;
  opacity: 0;
  z-index: 0;
}

.dropdown.open .dropdown__background {
  transform: scaleY(1);
  opacity: 1;
}

.dropdown.open {
  z-index: 2;
}

.dropdown__button {
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  background-color: #FF6060;
  border: none;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}


.dropdown__content {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transform: translateY(-60px);
  opacity: 0;
  transition: max-height 0.4s ease, transform 0.35s ease, opacity 0.35s ease;
  position: relative;
  z-index: 1;
}

.dropdown__content.open {
  max-height: 500px; 
  transform: translateY(0);
  opacity: 1;
  margin-top: 10px;
  padding-bottom: 20px;
}

.dropdown__content li {
  margin: 4px 0;
}
