.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 206px;
    background-color: black;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 50px;  
    align-items: center; 
    position: relative;
    bottom: -15px;
}


