@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

body,  html{
  font-family: "Montserrat", sans-serif;
}

body { margin: 0;}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline black;
}