.main-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 139px;
} 

.not-found__title {
    font-size: 288px;
    color: #FF6060;
    margin-top: 50px;
    margin-bottom: 0;
   font-weight: 700;
}

.not-found__message {
    font-size: 36px;
    color: #FF6060;
    margin-top: -50px;
    font-weight: 500;
}

.not-found__link {
    font-size: 18px;
    text-decoration: underline;
    font-weight: 500;
}

.mobile-break {
    display: none;
}

@media  (max-width: 940px) {
    .not-found__title {
        font-size: 96px;
        margin-top: 100px;
    }

    .not-found__message {
        font-size: 18px;
        text-align: center;
        margin-top: -30px;
    }

    .not-found__link {
        font-size: 14px;
        margin-top: -40px;
        margin-bottom: 100px;
    }

    .mobile-break {
    display: block;
}
}